<section>
    <label for="create-post-title-input" data-bind="value: title">Title: </label>
    <input type="text" id="create-post-title-input" />
    <label for="create-post-content-input" >Content: </label>
    <textarea id="create-post-content-input" data-bind="value: content"></textarea>
    <label for="products">Tags</label>
    <select id="produts" data-bind="value: produts"></select>
    <button data-bind="click: createRecipe">Create recipe:</button>
    <span data-bind="text: message"></span>
</section>